@page "/cadastroFuncionario"
@using Locadora_Ao_Infinito_E_Alem.Models
@inject NavigationManager navegacao;


<h3>Cadastro de Funcionário</h3>

<div class="container">
    <!-- Barra de navegação temática -->
    <nav class="navbar navbar-light" style="background-color: navy;">
        <span class="navbar-brand mb-0 h1 text-white">Locadora ao Infinito e Além</span>
    </nav>

    <!-- Formulário de Cadastro de Funcionario -->
    <h2 class="mt-4 text-center text-warning">Cadastro de Funcionário</h2>
    <div class="mb-3">
        <label for="idFuncionarioInput" class="form-label">ID Funcionário:</label>
        <input @bind="funcionario.ID" type="text" class="form-control" id="idFuncionarioInput" disabled>
    </div>

    <div class="mb-3">
        <label for="nomeInput" class="form-label">Nome:</label>
        <input @bind="funcionario.nome" type="text" class="form-control" id="nomeInput">
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="dataNascimentoInput" class="form-label">Data de Nascimento:</label>
                <input @bind="funcionario.data_nascimento" type="date" class="form-control" id="dataNascimentoInput">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="salarioInput" class="form-label">Salário:</label>
                <input @bind="funcionario.salario" type="tel" class="form-control" id="salarioInput">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="cpfInput" class="form-label">CPF:</label>
                <input @bind="funcionario.cpf" type="text" class="form-control" id="cpfInput">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="rgInput" class="form-label">RG:</label>
                <input @bind="funcionario.rg" type="text" class="form-control" id="rgInput">
            </div>
        </div>
    </div>

    <!-- Botões de Ação -->
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary mt-3 mx-2">Salvar</button>
        <button type="button" class="btn btn-secondary mt-3 mx-2">Novo Registro</button>
    </div>

    <!-- Mensagem de Sucesso -->
    <!-- if () -->
    <!--{
         <div class="alert alert-success mt-3" role="alert">
            Cliente salvo com sucesso!
        </div>
    } -->
</div>

@code {

}
