@page "/locacaoFilme"
@using Locadora_Ao_Infinito_E_Alem.Models
@inject NavigationManager navegacao;

<h3>Locação de Filme</h3>

<div class="container">
    <!-- Formulário de Locação de Filmes -->
    <h2 class="mt-4 text-center text-warning">Cadastro de Locação de Filmes</h2>

    <div class="mb-3">
        <label for="idLocFilmeInput" class="form-label">ID Locação:</label>
        <input @bind="locacao.ID" type="text" class="form-control" id="idLocFilmeInput" disabled>
    </div>

    <div class="mb-3">
        <label for="idFilmeInput" class="form-label">ID do Filme:</label>
        <input @bind="locacao.IDFilme" type="text" class="form-control" id="idFilmeInput">
    </div>

    <div class="mb-3">
        <label for="quantidadeInput" class="form-label">Quantidade:</label>
        <input @bind="locacao.quantidade" type="number" class="form-control" id="quantidadeInput">
    </div>

    <div class="mb-3">
        <label for="valorInput" class="form-label">Valor:</label>
        <input @bind="locacao.valor" type="number" step="0.01" class="form-control" id="valorInput">
    </div>

    <!-- Botões de Ação -->
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary mt-3 mx-2" @onclick="Salvar">Salvar</button>
        <button type="button" class="btn btn-secondary mt-3 mx-2" @onclick="NovoRegistro">Novo Registro</button>
    </div>

    <!-- Mensagem de Sucesso -->
    @if (novo)
    {
        <div class="alert alert-success mt-3" role="alert">
            Locação salva com sucesso!
        </div>
    }
</div>


@code {

}
